<!DOCTYPE html>
<html lang="en">
<head>
    <h1>oi tudo bem </h1>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>testando container </h1>
        <label>Título </label>
        <input type="text" placeholder="Titulo" class="form-control" value="">
        <label>descrição </label>
        <input type="text" placeholder="descreva sua pergunta aqui " class="form-control">
        <button class="btn btn-sucess">perguntar</button>
    </div>

</body>
</html>